.dashboard {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 30% 30% 30%;
    grid-template-areas:
      "widget widget"
      "widget widget"
      "widget widget"
}